@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider;

@foreach(var provider in await schemeProvider.GetRequestHandlerSchemesAsync())
{
    <a class="btn btn-primary login-button" asp-action="SignIn"
       asp-route-provider="@provider.Name" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">@provider.DisplayName</a>
       

}