@model AspNetCore.Auth.LocalLogin.Models.SignUpModel

@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="form-validation"></div>

}

    <form class="form-signin" asp-action="SignUp">
        <h2>Please sign in</h2>
        @Html.AntiForgeryToken()
        <label class="sr-only">Username</label>
        <input type="text" class="form-control" placeholder="Username" asp-for="Username" />

        <label class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" asp-for="Password" />


        <label class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Repeat Password" asp-for="RepeatPassword" />


        <button class="btn btn-lg btn-primary btn-block">Sign Up</button>"
    </form>